<div class="audio-player-conatiner">

	<div class="left mat-calendar-body-selected">
        <button mat-icon-button 
            *ngIf="!isPlaying && canPlay" 
            class="play fit" 
            (click)="playAudio()">
            <mat-icon>play_arrow</mat-icon>
        </button>

        <button mat-icon-button 
            *ngIf="isPlaying && canPlay" 
            class="pause fit" 
            (click)="pauseAudio()">
            <mat-icon>pause</mat-icon>
        </button>

        <button mat-icon-button 
            *ngIf="!isPlaying && !canPlay" 
            class="pause fit" 
            (click)="pauseAudio()">
            <mat-icon>error_outline</mat-icon>
        </button>
    </div>
    
	<div class="center" mat-ripple>

        <div class="title fit" role="alert">
            {{ canPlay ? title : "Sorry, the track can't Track : " + title }}
        </div>
        <mat-progress-bar 
            class="progress-bar" 
            color="bluevoilet" 
            value="{{ progressBarValue }}"
            [hidden]='!canPlay'
            (click)="seek($event)"
        ></mat-progress-bar>
    </div>

    <div class="right">
    	<div class="duration mat-datepicker-toggle-active fit">
    		<span class="fit" role="timer" 
                aria-label="Audio Track Length"> {{ canPlay ? convertSecToMin() : '--' }}
            </span>
        </div>
    </div>

</div>

<div class="list-container" *ngIf='updatedList.length > 0'>
	<ul>
		<ng-template #recursiveList let-list let-level="level">
			<li *ngFor="let item of list; let i = index" attr.list-level="{{level}}">
				<div class="item" #listItem 
				 	[ngClass]="{ 
						'level-one': level === 1 && item.expanded && item.submenu.length > 0 ? true : false,
						'level-two': level > 1 && item.expanded && item.submenu.length > 0 ? true : false
					}"
					(click)="expand(item, level)">
					<span>{{item.title}}</span>
					<mat-icon class='expand-indicator'*ngIf='item.submenu.length > 0' [@isExpanded]="item.submenu.length > 0 && item.expanded ? 'yes' : 'no'">keyboard_arrow_down</mat-icon>

				</div>
				<ul *ngIf="item.submenu.length > 0 && item.expanded">
					<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.submenu, level: level + 1 }"></ng-container>
				</ul>
			</li>
		</ng-template>
		<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: updatedList, level: 1 }"></ng-container>
	</ul>
</div>
<div class="error-message"  *ngIf='updatedList.length === 0'>
	Invalid data for Multilevel list
</div>

